:root {
  --color-primary: #283593;
  --color-primary-light: #1E88E5;
  --color-primary-dark: #1A237E;

  --color-secondary-light: #c39d63;
  --color-secondary-dark: #ff7730;

  --color-gray-light-1: #f7f7f7;
  --color-gray-light-2: #eee;

  --color-gray-dark-1: #777;
  --color-gray-dark-2: #999;
  --color-gray-dark-3: #333;


  //FONT 
  --default-font-size: 1.6rem;

  --color-black: #000;
  --color-white: #fff;


}

// Breakpoints 
$color-navigation-1: #1A237E;
$color-navigation-2: #283593;

$bp-large: 75em; //1200px
$bp-medium: 51.56em; //825px
$bp-small: 37.5em; //600px