.navigation {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  transition: all .5s;

  &--transparent {
    background-color: transparent;
  }

  &--dark {
    background-color: var(--color-black);
  }

  &__container {
    padding: 1.5rem 8rem;
    width: 100%;
    max-width: 160rem;
    color: var(--color-gray-light-1);
    display: flex;
    justify-content: space-between;

    @include respond(bp-medium) {
      padding: 1.5rem 4rem;
    }

    @include respond(bp-small) {
      padding: 1.5rem 2rem;
    }
  }

  &__title {

    &:link,
    &:visited {
      color: var(--color-gray-light-1);
      text-decoration: none;
      font-size: 2.3rem;
      text-transform: uppercase;
      font-weight: 700;
      font-family: 'Poppins';
    }
  }

  /////////////////////// Navigation
  &__nav {
    display: flex;
    position: relative;
  }

  &__checkbox {
    display: none;
  }

  @include respond(bp-medium) {
    &__checkbox:checked+&__button {
      transform: translate(-1.5rem, 2rem);
    }

    &__checkbox:checked+&__button &__icon::before {
      transform: rotate(-135deg);
    }

    &__checkbox:checked+&__button &__icon::after {
      transform: rotate(135deg);
    }

    &__checkbox:checked+&__button &__icon {
      background-color: transparent;
    }

    &__checkbox:checked~&__background {
      transform: scale(80);
      opacity: 1;
      // backdrop-filter: blur(1px);
    }

    &__checkbox:checked~&__list {
      width: 100%;
      opacity: 1;
      visibility: visible;
    }
  }

  &__button {
    display: none;

    @include respond(bp-medium) {
      transition: all .2s;
      display: inline-block;
      height: 3rem;
      margin: auto;
      z-index: 3000;
    }
  }

  &__background {

    @include respond(bp-medium) {
      opacity: 0;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      background-image: linear-gradient(rgba($color-navigation-1, 1), rgba($color-navigation-2, .7));
      height: 6rem;
      width: 6rem;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), opacity 1s ease-out;
    }
  }

  &__icon {
    display: none;

    @include respond(bp-medium) {

      margin-top: 1.4rem;
      position: relative;

      &::before,
      &::after {
        content: "";
        transition: all .2s;
        position: absolute;
      }

      &::before {
        transform: translateY(-.8rem);
      }

      &::after {
        transform: translateY(.8rem);
      }

      &,
      &::before,
      &::after {
        display: inline-block;
        width: 3rem;
        height: 2px;
        background-color: var(--color-white);
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;

    @include respond(bp-medium) {
      position: fixed;
      visibility: hidden;
      top: 0;
      left: 0;
      height: 100vh;
      width: 0;
      opacity: 0;
      flex-direction: column;
      justify-content: center;
      transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }

  &__link {

    &:link,
    &:visited {
      color: var(--color-gray-light-1);
      font-size: var(--default-font-size);
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .4s;

      &:first-child {
        display: none;
      }

      &:not(:last-child) {
        margin-right: 4rem;
      }

      @include respond(bp-medium) {
        font-size: 3rem;
        font-weight: 400;
        padding: 0 2rem;
        margin: 1rem 0 !important;

        background-image: linear-gradient(120deg, transparent 50%, white 50%);
        background-size: 230%;
        transition: all .4s;

        &:first-child {
          display: inline-block;
        }
      }
    }

    &:hover,
    &:active {
      transform: translateY(-2px);

      @include respond(bp-medium) {
        background-position: 100%;
        color: var(--color-primary);
        transform: translateX(1rem);
      }
    }
  }
}